body {
    background-color: #76efff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}

h1 {
    margin: 0px;

}

main {
    margin-top: 170px;
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 15px;
}

div {
    width: 100%;
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10px;
}

form > div > div {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

form > div > div > label {
    font-size: 18px;
}

form > div > div > input {
    margin-top: 10px;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid #76efff;
    color: #000000;
}

button {
    padding: 8px;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid;
    background-color: #76efff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #76efff;
    border: 1px solid #76efff;
}

p {
    margin-top: 20px;
    margin-bottom: 0px;
}

a {
    color: #76efff;
    cursor: pointer;
    text-decoration: none;
}

.message {
    color: #eb4d4b;
}