<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style/update.css">
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<title>Add Food</title>
</head>
<body>
	<main>
		<div>
			<h1>Add Food</h1>
		</div>
		<form method="post" action="/food">
			<label for="name">Name :</label>
			<input type="text" id="name" name="name" required>
			<label for="price">Price :</label>
			<input type="number" id="price" name="price" required>
			<label for="description">Description :</label>
			<input type="text" id="description" name="description" required>
			<button type="submit">Add Food</button>
		</form>
	</main>
</body>
</html>