<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/dashboards.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Dashboard</title>
</head>
<body>
    <main>
        <div>
        <h1 class="title">Foods</h1>
        <div class="button">
            <form method="post" action="/add-food">
            <button type="submit">Add Food</button>
            </form>
    
            <form method="post" action="/logout">
            <button type="submit">Logout</button>
            </form>
        </div>
        </div>
        <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{range .Data}}
            <tr>
            <td>{{.Name}}</td>
            <td>{{.Price}}</td>
            <td>{{.Description}}</td>
            <td><form method="post" action="/edit-food/{{.ID}}">
                <button type="submit">update</button>
                </form>
                <form method="post" action="/delete-food/{{.ID}}">
                    <button type="submit">delete</button>
                </form>
            </td>
            </tr>
            {{end}}
        </tbody>
        </table>
    </main>
    <p class="message">{{.Message}}</p>
</body>
</html>